<blockquote class="quote">
    <p class="quote__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas corporis illo nesciunt atque
      deleniti repellat cupiditate error accusamus quia quidem.
    </p>
    <footer>
      <div class="media">
          <div class="media__image">
                  <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                  </svg>
                </span>
          </div>
          <div class="media__body">
              <h3 class="media__title quote__author">Brandon Tarrant</h3>
              <p class="quote__company">Creator Of This Site</p>
          </div>
      </div>
    </footer>
  </blockquote>